.container {
    display: flex; 
    flex-direction: row;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 13px;
    margin: 5px;
    width: 10%;
    height: 35%;
    padding: 0.2cm;
}
.valor-positivo{
    color: green;
    font-weight: bold;
}
.valor-negativo{
    color: coral;
    font-weight: bold;
}
.percentual-positivo{
    color:lightskyblue;
    
}
.percentual-negativo{
    color: coral;    
}
.container-numero {
    display: flex;
    flex: 0.2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-numero span{
   font-weight: bold;
}
.container-valores {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}